@model MvcStok.Models.Entity.Müşteriler
@{
    ViewBag.Title = "MusteriGetir";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

@using (Html.BeginForm("Guncelle", "Musteri", FormMethod.Post))
{

    <div class="form-group">

        @Html.LabelFor(m => m.Musteriid)
        @Html.TextBoxFor(m => m.Musteriid, new { @class = "form-control" })
        <br />
        @Html.LabelFor(m => m.MusteriAd)
        @Html.TextBoxFor(m => m.MusteriAd, new { @class = "form-control" })
        <br />
        @Html.LabelFor(m => m.MusteriSoyAd)
        @Html.TextBoxFor(m => m.MusteriSoyAd, new { @class = "form-control" })

    </div>


    <div>

        <button class="btn btn-warning">Müşteri Güncelle</button>

    </div>








}

